RAW_interactions.csv.gz
RAW_recipes.csv.gz
/venv
/data
.DS_Store
/.ipynb_checkpoints
Mapping_ingred_th=500.csv
Mapping_ingred.csv
Mapping_recipe_id.csv
Mapping_stemword.csv
Mapping_tag_th=5.csv
Mapping_tag.csv
Mapping_user_id.csv
RAW_interactions_textProc_test.csv
RAW_interactions_textProc_training.csv
RAW_interactions_textProc_valid.csv
RAW_recipes_textProc.csv
RAW_interactions.csv
RAW_recipes_textProc_VecTag(th=5)_VecIng(th=500).csv
RAW_recipes_textProc.csv
RAW_recipes.csv
RAW_interactions_textProc.csv